In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [4]:
pip install --upgrade numexpr

Requirement already satisfied: numexpr in /opt/anaconda3/lib/python3.9/site-packages (2.8.8)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.9/site-packages (from numexpr) (1.26.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
def load_data():
    """Load data from the CSV files referundum/regions/departments."""

    referendum = pd.read_csv('data/referendum.csv', sep = ';')
    regions = pd.read_csv('data/regions.csv')
    departments = pd.read_csv('data/departments.csv')

    return referendum, regions, departments

referendum, regions, departments = load_data()

In [7]:
referendum.head(10)

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
0,1,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345
1,1,AIN,2,L'Abergement-de-Varey,215,36,5,66,108
2,1,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664
3,1,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684
4,1,AIN,6,Ambléon,105,17,1,35,52
5,1,AIN,7,Ambronay,1702,222,29,570,881
6,1,AIN,8,Ambutrix,549,68,7,192,282
7,1,AIN,9,Andert-et-Condon,269,40,4,81,144
8,1,AIN,10,Anglefort,681,99,12,222,348
9,1,AIN,11,Apremont,255,30,7,77,141

In [8]:
def merge_regions_and_departments(regions, departments):
    """Merge regions and departments in one DataFrame.

    The columns in the final DataFrame should be:
    ['code_reg', 'name_reg', 'code_dep', 'name_dep']
    """

    data = pd.merge(left = regions,
             right = departments,
             left_on= 'code',
             right_on = 'region_code',
             suffixes= ['_reg', '_dep'])
    
    data_final = data[['code_reg', 'name_reg', 'code_dep', 'name_dep']]

    return data_final 

regions_and_departments = merge_regions_and_departments(regions, departments)
regions_and_departments

,code_reg,name_reg,code_dep,name_dep
0,01,Guadeloupe,971,Guadeloupe
1,02,Martinique,972,Martinique
2,03,Guyane,973,Guyane
3,04,La Réunion,974,La Réunion
4,06,Mayotte,976,Mayotte
...,...,...,...,...
104,COM,Collectivités d'Outre-Mer,984,Terres australes et antarctiques françaises
105,COM,Collectivités d'Outre-Mer,986,Wallis et Futuna
106,COM,Collectivités d'Outre-Mer,987,Polynésie française
107,COM,Collectivités d'Outre-Mer,988,Nouvelle-Calédonie
108,COM,Collectivités d'Outre-Mer,989,Île de Clipperton

In [10]:
def merge_referendum_and_areas(referendum, regions_and_departments):
    """Merge referendum and regions_and_departments in one DataFrame.

    You can drop the lines relative to DOM-TOM-COM departments, and the
    french living abroad.
    """

    referendum['Department code'] = referendum['Department code'].str.zfill(2)

    data_merged = pd.merge(left = referendum,
                           right = regions_and_departments,
                           left_on= 'Department code',
                           right_on= 'code_dep')
    
    data_merged_final = data_merged.dropna()

    return data_merged_final

referendum_and_areas = merge_referendum_and_areas(referendum, regions_and_departments)
referendum_and_areas

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B,code_reg,name_reg,code_dep,name_dep
0,01,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345,84,Auvergne-Rhône-Alpes,01,Ain
1,01,AIN,2,L'Abergement-de-Varey,215,36,5,66,108,84,Auvergne-Rhône-Alpes,01,Ain
2,01,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664,84,Auvergne-Rhône-Alpes,01,Ain
3,01,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684,84,Auvergne-Rhône-Alpes,01,Ain
4,01,AIN,6,Ambléon,105,17,1,35,52,84,Auvergne-Rhône-Alpes,01,Ain
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36560,95,VAL D'OISE,676,Villers-en-Arthies,382,64,5,87,226,11,Île-de-France,95,Val-d'Oise
36561,95,VAL D'OISE,678,Villiers-Adam,595,71,4,191,329,11,Île-de-France,95,Val-d'Oise
36562,95,VAL D'OISE,680,Villiers-le-Bel,13269,4083,224,5546,3416,11,Île-de-France,95,Val-d'Oise
36563,95,VAL D'OISE,682,Villiers-le-Sec,95,11,0,40,44,11,Île-de-France,95,Val-d'Oise
36564,95,VAL D'OISE,690,Wy-dit-Joli-Village,279,30,1,83,165,11,Île-de-France,95,Val-d'Oise

In [16]:

referendum_and_areas.set_index('code_reg')[['name_reg','Registered','Abstentions','Null','Choice A','Choice B']]

,name_reg,Registered,Abstentions,Null,Choice A,Choice B
code_reg,,,,,,
84,Auvergne-Rhône-Alpes,592,84,9,154,345
84,Auvergne-Rhône-Alpes,215,36,5,66,108
84,Auvergne-Rhône-Alpes,8205,1698,126,2717,3664
84,Auvergne-Rhône-Alpes,1152,170,18,280,684
84,Auvergne-Rhône-Alpes,105,17,1,35,52
...,...,...,...,...,...,...
11,Île-de-France,382,64,5,87,226
11,Île-de-France,595,71,4,191,329
11,Île-de-France,13269,4083,224,5546,3416
11,Île-de-France,95,11,0,40,44
11,Île-de-France,279,30,1,83,165

In [12]:

geopandas = gpd.read_file("data/regions.geojson")
geopandas

,code,nom,geometry
0,11,Île-de-France,"POLYGON ((1.92215 48.45760, 1.92074 48.44775, ..."
1,24,Centre-Val de Loire,"POLYGON ((0.81482 48.67016, 0.82767 48.68072, ..."
2,27,Bourgogne-Franche-Comté,"POLYGON ((6.94054 47.43337, 6.94168 47.41580, ..."
3,28,Normandie,"POLYGON ((-1.11962 49.35557, -1.11503 49.36240..."
4,32,Hauts-de-France,"POLYGON ((4.14089 49.97876, 4.15398 49.97484, ..."
5,44,Grand Est,"POLYGON ((3.41479 48.39027, 3.42208 48.41334, ..."
6,52,Pays de la Loire,"MULTIPOLYGON (((-2.30479 46.70942, -2.28612 46..."
7,53,Bretagne,"MULTIPOLYGON (((-2.12371 48.60441, -2.13448 48..."
8,75,Nouvelle-Aquitaine,"MULTIPOLYGON (((-1.02574 45.57469, -0.99300 45..."
9,01,Guadeloupe,"MULTIPOLYGON (((-61.63356 15.83977, -61.64798 ..."
10,02,Martinique,"POLYGON ((-61.20405 14.86191, -61.19794 14.863..."
11,03,Guyane,"MULTIPOLYGON (((-53.87043 5.74491, -53.87789 5..."
12,04,La Réunion,"POLYGON ((55.25415 -21.10974, 55.23094 -21.090..."
13,06,Mayotte,"MULTIPOLYGON (((45.04101 -12.64686, 45.03392 -..."
14,76,Occitanie,"MULTIPOLYGON (((1.78613 42.57362, 1.78094 42.5..."
15,84,Auvergne-Rhône-Alpes,"POLYGON ((3.36135 44.97141, 3.35453 44.95482, ..."
16,93,Provence-Alpes-Côte d'Azur,"MULTIPOLYGON (((6.94833 44.65482, 6.95451 44.6..."
17,94,Corse,"MULTIPOLYGON (((9.27103 41.36496, 9.26570 41.3..."

In [11]:
referendum_and_areas

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B,code_reg,name_reg,code_dep,name_dep
0,01,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345,84,Auvergne-Rhône-Alpes,01,Ain
1,01,AIN,2,L'Abergement-de-Varey,215,36,5,66,108,84,Auvergne-Rhône-Alpes,01,Ain
2,01,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664,84,Auvergne-Rhône-Alpes,01,Ain
3,01,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684,84,Auvergne-Rhône-Alpes,01,Ain
4,01,AIN,6,Ambléon,105,17,1,35,52,84,Auvergne-Rhône-Alpes,01,Ain
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36560,95,VAL D'OISE,676,Villers-en-Arthies,382,64,5,87,226,11,Île-de-France,95,Val-d'Oise
36561,95,VAL D'OISE,678,Villiers-Adam,595,71,4,191,329,11,Île-de-France,95,Val-d'Oise
36562,95,VAL D'OISE,680,Villiers-le-Bel,13269,4083,224,5546,3416,11,Île-de-France,95,Val-d'Oise
36563,95,VAL D'OISE,682,Villiers-le-Sec,95,11,0,40,44,11,Île-de-France,95,Val-d'Oise
36564,95,VAL D'OISE,690,Wy-dit-Joli-Village,279,30,1,83,165,11,Île-de-France,95,Val-d'Oise